@page
@model InvWeb.Pages.Masterfiles.ItemMaster.SpecSteel.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InvItemSpec_Steel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvItemSpec_Steel.Id" />
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.InvItemId" class="control-label"></label>
                <select asp-for="InvItemSpec_Steel.InvItemId" class="form-control" asp-items="ViewBag.InvItemId"></select>
                <span asp-validation-for="InvItemSpec_Steel.InvItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.SpecFor" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.SpecFor" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.SpecFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.SizeValue" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.SizeValue" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.SizeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.SizeDesc" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.SizeDesc" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.SizeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.WtValue" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.WtValue" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.WtValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.WtDesc" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.WtDesc" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.WtDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSpec_Steel.SpecInfo" class="control-label"></label>
                <input asp-for="InvItemSpec_Steel.SpecInfo" class="form-control" />
                <span asp-validation-for="InvItemSpec_Steel.SpecInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
