@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory - Beta";

    int tempStoreId = 2;
}

@if (Model.UsersStores != null)
{
    @foreach (var store in Model.UsersStores)
    {
        <div class="jumbotron">
            <h2> Welcome to @store.StoreName </h2>
            <p> Store Id : @store.Id </p>
            <a asp-page="./Stores/Main/Index" asp-route-id="@store.Id"> Go to Store </a>
        </div>
    }

}
else { 
    <h1> No Stores Assigned </h1>
    <h2> <a asp-page="./Masterfiles/Index">Go here to assign stores</a> or contact your administrator to assign stores </h2>
}
