@page
@model IndexModel
@{

    ViewData["Title"] = "Inventory - Beta";
    InvWeb.Shared.SystemSetting label = new InvWeb.Shared.SystemSetting();
    string sStore = label.GetValue("Store");
    string sAppName = label.GetValue("AppName");
    string sAppVer = label.GetValue("AppVersion");
    string sClient = label.GetValue("Tenant");

}

@if (Model.UsersStores != null)
{
    @foreach (var store in Model.UsersStores)
    {
        <div class="jumbotron">
            <h2> @sAppName @sAppVer </h2>
            <h4> (@store.StoreName) </h4>
            <p> @sStore Id : @store.Id </p>
            <a asp-page="./Stores/Main/Index" asp-route-id="@store.Id"> Go to Mainpage </a>
        </div>
    }

}
else { 
    <h1> No Stores Assigned </h1>
    <h2> <a asp-page="./Masterfiles/Index">Go here to assign stores</a> or contact your administrator to assign stores </h2>
}
