@page
@model IndexModel
@{

    ViewData["Title"] = "Inventory - Beta";
    //InvWeb.Shared.SystemSetting label = new InvWeb.Shared.SystemSetting();
    string sStore = Model.syssetting.GetValue("Store");
    string sAppName = Model.syssetting.GetValue("AppName");
    string sAppVer = Model.syssetting.GetValue("AppVersion");
    string sClient = Model.syssetting.GetValue("Tenant");

}

@if (Model.UsersStores != null)
{
    <h2> @sAppName @sAppVer </h2>
    @if (Model.UsersStores.Count == 0)
    {
        <div class="jumbotron">
            No Specific @sStore is assigned to this user.
        </div>

    }
    else
    {
        @foreach (var store in Model.UsersStores)
        {
            <div class="jumbotron">
                <h4> (@store.StoreName) </h4>
                <a asp-page="./Stores/Main/Index" asp-route-id="@store.Id"> Go to @sStore Mainpage </a>
            </div>
        }

    }

}
else { 
    <h1> No Stores Assigned </h1>
    <h2> <a asp-page="./Masterfiles/Index">Go here to assign stores</a> or contact your administrator to assign stores </h2>
}
