@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CoreLib.Inventory.Models.InvItemSpec_Steel
@{
}

    <div class="col-md-5">
        <h4>Specifications</h4>
        <hr />
        <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvItemId" class="control-label"></label>
                <select asp-for="InvItemId" class="form-control" asp-items="ViewBag.InvItemId"></select>
            </div>
           <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" maxlength="40" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" maxlength="160" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteelMaterialId" class="control-label"> Category </label>
                <select asp-for="SteelMaterialId" id="InvCategoryId" class="form-control"
                        asp-items="ViewBag.SteelMaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteelMaterialGradeId" class="control-label"> Category </label>
                <select asp-for="SteelMaterialGradeId" id="InvCategoryId" class="form-control" 
                        asp-items="ViewBag.SteeelMaterialGradeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteelBrandId" class="control-label"> Brand </label>
                <select asp-for="SteelBrandId" id="InvCategoryId" class="form-control"
                        asp-items="ViewBag.SteelBrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteelMainCatId" class="control-label"> Main Category </label>
                <select asp-for="SteelMainCatId" id="InvCategoryId" class="form-control"
                        asp-items="ViewBag.SteelMainCatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteelSubCatId" class="control-label"> Sub Category </label>
                <select asp-for="SteelSubCatId" id="InvCategoryId" class="form-control"
                        asp-items="ViewBag.SteelSubCatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteelOriginId" class="control-label"> Origin </label>
                <select asp-for="SteelOriginId" id="InvCategoryId" class="form-control"
                        asp-items="ViewBag.SteelOriginId"></select>
            </div>
        </form>
    </div>
