@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CoreLib.Inventory.Models.InvItemSpec_Steel
@{
}

    <div class="col-md-5">
        <h4>Specifications</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="SpecFor" class="control-label"></label>
                <input asp-for="SpecFor" class="form-control" maxlength="10">
                <span asp-validation-for="SpecFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecInfo" class="control-label"></label>
                <input asp-for="SpecInfo" class="form-control" maxlength="80" />
                <span asp-validation-for="SpecInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeDesc" class="control-label"></label>
                <input asp-for="SizeDesc" class="form-control" maxlength="30" />
                <span asp-validation-for="SizeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeValue" class="control-label"></label>
                <input asp-for="SizeValue" class="form-control" maxlength="10" />
                <span asp-validation-for="SizeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WtDesc" class="control-label"></label>
                <input asp-for="WtDesc" class="form-control" maxlength="30" />
                <span asp-validation-for="WtDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WtValue" class="control-label"></label>
                <input asp-for="WtValue" class="form-control" maxlength="10" />
                <span asp-validation-for="WtValue" class="text-danger"></span>
            </div>
        </form>
    </div>
