@page
@model InvWeb.Pages.Masterfiles.ItemMaster.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div class="row ">
        <div class="col-md-5">
            <h4>InvItem</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div >
                <p style="color:red;">@Html.ValidationMessage("ErrorDuplicateItem")</p>
            </div>
            
            <div class="form-group">
                <label class="control-label"> Main Category </label>
                <select asp-for="InvItemSpec_Steel.SteelMainCatId" id="SteelMainCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMainCats"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Sub Category </label>
                <select asp-for="InvItemSpec_Steel.SteelSubCatId" id="SteelSubCatId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSubCats"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Size </label>
                <select asp-for="InvItemSpec_Steel.SteelSizeId" id="SteelSizeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelSizes"></select>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> Steel Brand </label>
                <select asp-for="InvItemSpec_Steel.SteelBrandId" id="SteelBrandId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelBrands"></select>
            </div>
            <div class="form-group" hidden>
                <label class="control-label"> Steel Origin </label>
                <select asp-for="InvItemSpec_Steel.SteelOriginId" id="SteelOriginId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelOrigins"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Material </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialId" id="SteelMaterialId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterials"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Steel Material Grade </label>
                <select asp-for="InvItemSpec_Steel.SteelMaterialGradeId" id="SteelMaterialGradeId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.SteelMaterialGrades"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Weight Kgm  </label>
                <input asp-for="InvItemSpec_Steel.WtKgm" id="WtKgm" class="form-control" maxlength="10" value="0.00" />
            </div>
            <div class="form-group">
                <label class="control-label"> Weight Kgpc </label>
                <input asp-for="InvItemSpec_Steel.WtKgpc" id="WtKgpc" class="form-control" maxlength="10" value="0.00" />
            </div>

            <div class="form-group">
                <label asp-for="InvItem.Description" class="control-label"></label>
                <input asp-for="InvItem.Description" id="InvItemDesc" class="form-control" maxlength="120" required />
                <span asp-validation-for="InvItem.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InvItem.Code" class="control-label"></label>
                <input asp-for="InvItem.Code" id="InvItemCode" class="form-control" maxlength="40" required />
                <span asp-validation-for="InvItem.Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InvItem.InvUomId" class="control-label"> UOM </label>
                <select asp-for="InvItem.InvUomId" id="InvItemUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
            </div>

            <div class="form-group">
                <label asp-for="InvItem.InvCategoryId" class="control-label"> Category </label>
                <select asp-for="InvItem.InvCategoryId" id="InvCategoryId" class="form-control search-dropdown-initialize  select2" asp-items="ViewBag.InvCategoryId"
                        onchange="CheckCategory_DefinedSpecCount()"></select>
            </div>

            <div class="form-group">
                <label asp-for="InvItem.Remarks" class="control-label"></label>
                <input asp-for="InvItem.Remarks" id="InvItemRemarks" class="form-control" maxlength="120" />
                <span asp-validation-for="InvItem.Remarks" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function GenerateDescription(){

            var itemDesc = $("#SteelMainCatId").find('option:selected').text() + " " + $("#SteelSubCatId").find('option:selected').text() + " " + $("#SteelSizeId").find('option:selected').text();

            $("#InvItemDesc").val(itemDesc);
        }

        function GenerateItemCode() {

            var itemDesc = $("#SteelMainCatId").find('option:selected').val() + "" + $("#SteelSubCatId").find('option:selected').val() + "" + $("#SteelSizeId").find('option:selected').val() ;

            $("#InvItemCode").val(itemDesc);
        }


        $('#SteelMainCatId').on('change', function () {
            GenerateDescription();
            GenerateItemCode();
        }).change();

        $('#SteelSubCatId').on('change', function () {
            GenerateDescription();
            GenerateItemCode();
        }).change();

        $('#SteelSizeId').on('change', function () {
            GenerateDescription();
            GenerateItemCode();
        }).change();

        $('#SteelBrandId').on('change', function () {
            GenerateDescription();
            GenerateItemCode();
        }).change();
    </script>

}
