@page
@model InvWeb.Pages.Masterfiles.ItemMaster.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div class="row ">
        <div class="col-md-5">
            <h4>InvItem</h4>
            <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InvItem.Description" class="control-label"></label>
                <input asp-for="InvItem.Description" id="InvItemDesc" class="form-control" maxlength="120" required />
                    <span asp-validation-for="InvItem.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.Code" class="control-label"></label>
                    <input asp-for="InvItem.Code" id="InvItemCode" class="form-control" maxlength="40" required />
                    <span asp-validation-for="InvItem.Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.InvCategoryId" class="control-label"> Category </label>
                    <select asp-for="InvItem.InvCategoryId" id="InvCategoryId" class ="form-control" asp-items="ViewBag.InvCategoryId"
                        onchange="CheckCategory_DefinedSpecCount()"></select>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.Weight" class="control-label"></label>
                        <input asp-for="InvItem.Weight" id="InvItemRemarks" class="form-control" maxlength="6" />
                    <span asp-validation-for="InvItem.Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.Material" class="control-label"></label>
                    <input asp-for="InvItem.Material" id="InvItemRemarks" class="form-control" maxlength="80" />
                    <span asp-validation-for="InvItem.Material" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.Remarks" class="control-label"></label>
                <input asp-for="InvItem.Remarks" id="InvItemRemarks" class="form-control" maxlength="120" />
                    <span asp-validation-for="InvItem.Remarks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItem.InvUomId" class="control-label"> UOM </label>
                    <select asp-for="InvItem.InvUomId" id="InvItemUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </div>
        
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
