@page
@model InvWeb.Pages.Masterfiles.ItemMaster.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="row">
        <div class="col-md-5">
            <h4>Item</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvItem.Id" />
            <div class="form-group">
                <label asp-for="InvItem.Description" class="control-label" required></label>
                <input asp-for="InvItem.Description" class="form-control" />
                <span asp-validation-for="InvItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.Code" class="control-label" required></label>
                <input asp-for="InvItem.Code" class="form-control" />
                <span asp-validation-for="InvItem.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.InvCategoryId" class="control-label"></label>
                <select asp-for="InvItem.InvCategoryId" class="form-control" asp-items="ViewBag.InvCategoryId"></select>
                <span asp-validation-for="InvItem.InvCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.Remarks" class="control-label"></label>
                <input asp-for="InvItem.Remarks" class="form-control" />
                <span asp-validation-for="InvItem.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.InvUomId" class="control-label"></label>
                <select asp-for="InvItem.InvUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
                <span asp-validation-for="InvItem.InvUomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        @*<partial name="_InvItemSpec" model="Model.InvItemSpec_Steel" />*@

        @if (Model.showSpec)
        {

            <div class="col-md-5">
                <h4>Specifications</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InvItemSpec_Steel.Id" />
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.SpecFor" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.SpecFor" class="form-control" maxlength="10">
                    <span asp-validation-for="InvItemSpec_Steel.SpecFor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.SpecInfo" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.SpecInfo" class="form-control" maxlength="80" />
                    <span asp-validation-for="InvItemSpec_Steel.SpecInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.SizeDesc" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.SizeDesc" class="form-control" maxlength="30" />
                    <span asp-validation-for="InvItemSpec_Steel.SizeDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.SizeValue" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.SizeValue" class="form-control" maxlength="10" />
                    <span asp-validation-for="InvItemSpec_Steel.SizeValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.WtDesc" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.WtDesc" class="form-control" maxlength="30" />
                    <span asp-validation-for="InvItemSpec_Steel.WtDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvItemSpec_Steel.WtValue" class="control-label"></label>
                    <input asp-for="InvItemSpec_Steel.WtValue" class="form-control" maxlength="10" />
                    <span asp-validation-for="InvItemSpec_Steel.WtValue" class="text-danger"></span>
                </div>
            </form>
        </div>
        }
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
