@page
@model InvWeb.Pages.Masterfiles.ItemMaster.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="row">
        <div class="col-md-5">
            <h4>Item</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvItem.Id" id="InvItemId" />
            <div class="form-group">
                <label asp-for="InvItem.Description" class="control-label" required></label>
                <input asp-for="InvItem.Description" class="form-control" maxlength="120" />
                <span asp-validation-for="InvItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.Code" class="control-label" required></label>
                <input asp-for="InvItem.Code" class="form-control" maxlength="40" />
                <span asp-validation-for="InvItem.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.InvCategoryId" class="control-label"> Category </label>
                <select asp-for="InvItem.InvCategoryId" id="InvCategoryId"  class="form-control" asp-items="ViewBag.InvCategoryId"
                        onchange="CheckCategory_DefinedSpecCount()"></select>
                <span asp-validation-for="InvItem.InvCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.Remarks" class="control-label"></label>
                <input asp-for="InvItem.Remarks" class="form-control" maxlength="120" />
                <span asp-validation-for="InvItem.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItem.InvUomId" class="control-label"> UOM </label>
                <select asp-for="InvItem.InvUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
                <span asp-validation-for="InvItem.InvUomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
