<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/dtpicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>

    @using Microsoft.AspNetCore.Http
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>  Inventory </h3>
                @if (User.IsInRole("ADMIN"))
                {
                    <span> Admin </span>
                }
                else if (User.IsInRole("STORE"))
                {
                    <span> Store User </span>
                }
                else if (User.IsInRole("PURCHASER"))
                {
                    <span> Purchaser User </span>
                }
                else
                {
                    <span> Please Login </span>
                }
            </div>
           
            @if (User.IsInRole("ADMIN"))
            {

                <partial name="./NavLayouts/_AdminNav" />
            }
            else if (User.IsInRole("STORE"))
            {
                <partial name="./NavLayouts/_StoreNav" />
            }
            else if (User.IsInRole("PURCHASER"))
            {
                <partial name="./NavLayouts/_PurchaserNav" />
            }
            else
            {

            }
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span> ... </span>
                        </button>
                    </div>

                    <div class="header-login">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="content-main">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container" style="text-align:center;">
                    &copy; 2021 - InvWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <!-- Popper for tooltips -->
    <script src="~/js/Popper.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/dtpicker/moment.min.js"></script>
    <script src="~/lib/dtpicker/daterangepicker.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datepicker.js"></script>

    <!-- jQuery Custom Scroller -->
    <script src="/js/Shared/sidebar.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
