<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">InvWeb</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@


    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>  Inventory </h3>

            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="/" id="sidenav-Home">Home</a>
                </li>
                <li>
                    <a href="/Masterfiles/Stores" id="sidenav-Stores">Stores</a>
                </li>


                <li class="dropdown-btn">
                    <a href="#" id="sidenav-Items">
                        Items Masterfile
                        <i class="float-right dropdown-toggle"></i>
                    </a>
                </li>

                <li class="dropdown-container">
                    <a href="/Masterfiles/ItemMaster">List</a>
                    <a href="/Masterfiles/ItemClassification">Classifications</a>
                    <a href="/Masterfiles/ItemUoms">Units</a>
                </li>

                <li>
                    <a href="/Masterfiles/Supplier">Suppliers</a>
                </li>

                <li>
                    <a href="/PurchaseOrders/InvPOHdrs">Purchase Orders</a>
                </li>

                <li>
                    <a href="/Masterfiles/Accounts" id="sidenav-Accounts">Accounts</a>
                </li>


                <li>
                    <a href="/Masterfiles/Reports" id="sidenav-Reports">Reports</a>
                </li>

                <li>
                    <hr />
                </li>

                <li>
                    <p> My Store </p>
                </li>

                <li class="dropdown-btn">
                    <a href="#" id="sidenav-Items">
                        MyStore
                        <i class="float-right dropdown-toggle"></i>
                    </a>
                </li>
                <li class="dropdown-container">
                    <a href="/Stores/Main/2">Go to MyStore</a>
                    <a href="/Stores/Receiving">Receiving</a>
                    <a href="/Stores/Releasing">Releasing</a>
                    <a href="/Stores/PoRequest">Purchase Request</a>
                    <a href="/Stores/Reports">Inventory Reports</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span> ... </span>
                        </button>
                    </div>

                    <div class="header-login">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="content-main">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container" style="text-align:center;">
                    &copy; 2021 - InvWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datepicker.js"></script>

    <!-- jQuery Custom Scroller -->
    <script src="~/js/sidebar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
