@page "{storeId:int?}"
@model InvWeb.Pages.Stores.PurchaseRequest.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Purchase Order Header</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvPOHdrCreateModel.InvPoHdr.DtPo" class="control-label"></label>
                <input asp-for="InvPOHdrCreateModel.InvPoHdr.DtPo" class="form-control datepicker" type="text" />
                <span asp-validation-for="InvPOHdrCreateModel.InvPoHdr.DtPo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvPOHdrCreateModel.InvPoHdr.InvSupplierId" class="control-label"></label>
                <select asp-for="InvPOHdrCreateModel.InvPoHdr.InvSupplierId" class="form-control" asp-items="Model.InvPOHdrCreateModel.InvSupplierId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvPOHdrCreateModel.InvPoHdr.InvStoreId" class="control-label"></label>
                <select asp-for="InvPOHdrCreateModel.InvPoHdr.InvStoreId" class="form-control" asp-items="Model.InvPOHdrCreateModel.InvStoreId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvPOHdrCreateModel.InvPoHdr.UserId" class="control-label"></label>
                <input asp-for="InvPOHdrCreateModel.InvPoHdr.UserId" class="form-control" value="@Model.InvPOHdrCreateModel.UserId" />
                <span asp-validation-for="InvPOHdrCreateModel.InvPoHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group"hidden>
                <label asp-for="InvPOHdrCreateModel.InvPoHdr.InvPoHdrStatusId" class="control-label"></label>
                <select asp-for="InvPOHdrCreateModel.InvPoHdr.InvPoHdrStatusId" class="form-control" asp-items="Model.InvPOHdrCreateModel.InvPoHdrStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-storeId="@Model.InvPOHdrCreateModel.StoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
