@page
@model InvWeb.Pages.Stores.PurchaseRequest.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Purchase Order Header</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="POHdrEditModel.InvPoHdr.Id" />
            <div class="form-group">
                <label asp-for="POHdrEditModel.InvPoHdr.DtPo" class="control-label"></label>
                <input asp-for="POHdrEditModel.InvPoHdr.DtPo" class="form-control " />
                <span asp-validation-for="POHdrEditModel.InvPoHdr.DtPo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POHdrEditModel.InvPoHdr.InvSupplierId" class="control-label"></label>
                <select asp-for="POHdrEditModel.InvPoHdr.InvSupplierId" class="form-control" asp-items="Model.POHdrEditModel.InvSupplierId"></select>
                <span asp-validation-for="POHdrEditModel.InvPoHdr.InvSupplierId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="POHdrEditModel.InvPoHdr.InvStoreId" class="control-label"></label>
                <select asp-for="POHdrEditModel.InvPoHdr.InvStoreId" class="form-control" asp-items="Model.POHdrEditModel.InvStoreId"></select>
                <span asp-validation-for="POHdrEditModel.InvPoHdr.InvStoreId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="POHdrEditModel.InvPoHdr.UserId" class="control-label"></label>
                <input asp-for="POHdrEditModel.InvPoHdr.UserId" class="form-control" value="@Model.POHdrEditModel.InvPoHdr.UserId" />
                <span asp-validation-for="POHdrEditModel.InvPoHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group"hidden>
                <label asp-for="POHdrEditModel.InvPoHdr.InvPoHdrStatusId" class="control-label"></label>
                <select asp-for="POHdrEditModel.InvPoHdr.InvPoHdrStatusId" class="form-control" asp-items="Model.POHdrEditModel.InvPoHdrStatusId"></select>
                <span asp-validation-for="POHdrEditModel.InvPoHdr.InvPoHdrStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-storeId="@Model.POHdrEditModel.InvPoHdr.InvStoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
