@page
@model RazorSamples.Pages.SysLib.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SysService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SysService.Id" />
            <div class="form-group">
                <label asp-for="SysService.SysCode" class="control-label"></label>
                <input asp-for="SysService.SysCode" class="form-control" />
                <span asp-validation-for="SysService.SysCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.Description" class="control-label"></label>
                <input asp-for="SysService.Description" class="form-control" />
                <span asp-validation-for="SysService.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.Remarks" class="control-label"></label>
                <input asp-for="SysService.Remarks" class="form-control" />
                <span asp-validation-for="SysService.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.Status" class="control-label"></label>
                <input asp-for="SysService.Status" class="form-control" />
                <span asp-validation-for="SysService.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.IconPath" class="control-label"></label>
                <input asp-for="SysService.IconPath" class="form-control" />
                <span asp-validation-for="SysService.IconPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.SeqNo" class="control-label"></label>
                <input asp-for="SysService.SeqNo" class="form-control" />
                <span asp-validation-for="SysService.SeqNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysService.IconFA" class="control-label"></label>
                <input asp-for="SysService.IconFA" class="form-control" />
                <span asp-validation-for="SysService.IconFA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
