@page
@model InvWeb.Pages.Masterfiles.Accounts.MainModel

@{
    
}

<h1> Accounts Mains </h1>


<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th>

        </th>
    </tr>
    @if (Model.AppUsers != null)
    {

        foreach (var item in Model.AppUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-page="./ManageRoles" asp-route-id="@item.Id"> Manage Roles </a>
                </td>
            </tr>
        }
    }
</table>