@page
@model InvWeb.Pages.Stores.Adjustment.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Adjustment Header Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.InvStoreId" class="control-label"></label>
                <select asp-for="AdjustmentCreateModel.InvTrxHdr.InvStoreId" class="form-control" asp-items="Model.AdjustmentCreateModel.InvStoresList"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.DtTrx" class="control-label"></label>
                <input asp-for="AdjustmentCreateModel.InvTrxHdr.DtTrx" class="form-control datepicker" type="text" />
                <span asp-validation-for="AdjustmentCreateModel.InvTrxHdr.DtTrx" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.UserId" class="control-label"></label>
                <input asp-for="AdjustmentCreateModel.InvTrxHdr.UserId" class="form-control" value="@Model.AdjustmentCreateModel.User" />
                <span asp-validation-for="AdjustmentCreateModel.InvTrxHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.Remarks" class="control-label"></label>
                <input asp-for="AdjustmentCreateModel.InvTrxHdr.Remarks" class="form-control" />
                <span asp-validation-for="AdjustmentCreateModel.InvTrxHdr.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.InvTrxTypeId" class="control-label"></label>
                <select asp-for="AdjustmentCreateModel.InvTrxHdr.InvTrxTypeId" class="form-control" asp-items="Model.AdjustmentCreateModel.InvTrxTypeId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AdjustmentCreateModel.InvTrxHdr.InvTrxHdrStatusId" class="control-label"></label>
                <select asp-for="AdjustmentCreateModel.InvTrxHdr.InvTrxHdrStatusId" class="form-control" asp-items="Model.AdjustmentCreateModel.InvTrxHdrStatusList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-storeId="@Model.AdjustmentCreateModel.StoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
