@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?" />
<RealSys.Module.Samples.SysModuleList Text="test"></RealSys.Module.Samples.SysModuleList>

<p>sample text:@sampletext</p>
<button class="btn btn-primary" @onclick="OnClick">Click me</button>
@code {


    public string sampletext { get; set; }

    private void OnClick()
    {
        this.sampletext = "clicked";
    }

}
