
<ul class="list-unstyled components">

    <li>
        <a href="/" id="sidenav-Home">Home</a>
    </li>
    <li>
        <a href="/Masterfiles/Stores" id="sidenav-Stores">Stores</a>
    </li>


    <li class="dropdown-btn">
        <a href="#" id="sidenav-Items">
            Items Masterfile
            <i class="float-right dropdown-toggle"></i>
        </a>
    </li>

    <li class="dropdown-container">
        <a href="/Masterfiles/ItemMaster">List</a>
        <a href="/Masterfiles/ItemClassification">Classifications</a>
        <a href="/Masterfiles/ItemUoms">Units</a>
    </li>

    <li>
        <a href="/Masterfiles/Supplier">Suppliers</a>
    </li>

    <li>
        <a href="/PurchaseOrders/InvPOHdrs">Purchase Orders</a>
    </li>

    <li>
        <a href="/Masterfiles/Accounts/Main" id="sidenav-Accounts">Accounts</a>
    </li>


    <li>
        <a href="/Masterfiles/Reports" id="sidenav-Reports">Reports</a>
    </li>

    <li>
        <a href="/Masterfiles/ItemSearch/Search">Item Search</a>
    </li>
    <li>
        <hr />
    </li>

    <li>
        <p> My Store </p>
    </li>

    <li class="dropdown-btn">
        <a href="#" id="sidenav-Items">
            MyStore
            <i class="float-right dropdown-toggle"></i>
        </a>
    </li>
    <li class="dropdown-container">
        <a href="/Stores/Main/2">Go to MyStore</a>
        <a href="/Stores/Receiving/2">Receiving</a>
        <a href="/Stores/Releasing/2">Releasing</a>
        <a href="/Stores/PurchaseRequest/2">Purchase Request</a>
        <a href="/Stores/Reports/2">  Inventory Reports</a>
    </li>
</ul>