@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    string storeLabel = "";
    if (Context.Session.GetString("_StoreLabel") != null)
    {
        storeLabel = Context.Session.GetString("_StoreLabel");

    }


    InvWeb.Shared.SystemSetting label = new InvWeb.Shared.SystemSetting();
    string sStore = label.GetValue("Store");


}

<ul class="list-unstyled components">
    <li>
        <a href="/" id="sidenav-Home">Home</a>
    </li>
    <li>
        <a href="/Masterfiles/ItemSearch/Search">Search</a>
    </li>
    <li>
        <a href="/Masterfiles/Stores" id="sidenav-Stores">@sStore</a>
    </li>
    <li>
        <a href="/Masterfiles/ItemMaster">Items</a>
    </li>
    <li>
        <a href="/Suppliers">Suppliers</a>
    </li>
    <li>
        <a href="/Masterfiles/Accounts/Main" id="sidenav-Accounts">Accounts</a>
    </li>
    <li>
        <a asp-page="/Masterfiles/Reports/DxReports" id="sidenav-Reports">Reports</a>
    </li>

    <li class="dropdown-btn">
        <a href="#" id="sidenav-Items">
            Settings
            <i class="float-right dropdown-toggle"></i>
        </a>
    </li>

    <li class="dropdown-container">
        <a href="/Masterfiles/ItemCategories">Item Settings</a>
        <a href="/Masterfiles/ItemCategories">Supplier Settings</a>
        <a href="/Masterfiles/ItemCategories">System Settings</a>
    </li>


    @*<li class="dropdown-btn">
        <a href="#" id="sidenav-Items">
            Items Masterfile
            <i class="float-right dropdown-toggle"></i>
        </a>
    </li>
    
    <li class="dropdown-container">
        <a href="/Masterfiles/ItemMaster">List</a>
        <a href="/Masterfiles/ItemCategories">Categories</a>
        <a href="/Masterfiles/ItemSpecifications">Specifications</a>
        <a href="/Masterfiles/ItemSysDefinedSpec">Defined Specifications</a>
        <a href="/Masterfiles/ItemCustomSpec">Custom Specifications</a>
        <a href="/Masterfiles/ItemSpecSteel">Steel Specifications</a>
        <a href="/Masterfiles/ItemClassification">Classifications</a>
        <a href="/Masterfiles/ItemUoms">Units</a>
        <a href="/Masterfiles/ItemUomsConversion">Conversion</a>
        <a href="/Masterfiles/ItemWarnings">Level Warning</a>
    </li>

    <li>
        <a href="/PurchaseOrders/InvPOHdrs">Purchase Orders</a>
    </li>*@

    <li>
        <p> My Store </p>
    </li>
    
    <partial name="./NavLayouts/_AssignedStoreNav" />
</ul>

