
<ul class="list-unstyled components">

    <li>
        <a href="/" id="sidenav-Home">Home</a>
    </li>


    <li>
        <a href="/PurchaseOrders/InvPOHdrs">Purchase Orders</a>
    </li>

    <li>
        <a href="/Masterfiles/ItemSearch/Search">Item Search</a>
    </li>

    <li>
        <p> My Store </p>
    </li>

    <partial name="./NavLayouts/_AssignedStoreNav" />
</ul>