
<ul class="list-unstyled components">

    <li>
        <a href="/" id="sidenav-Home">Home</a>
    </li>
    <li>
        <a href="/Masterfiles/ItemMaster">Items</a>
    </li>
    <li>
        <a href="/Suppliers/Supplier">Suppliers</a>
    </li>
    <li>
        <a href="/Masterfiles/ItemSearch/Search">Item Search</a>
    </li>

    <li>
        <a href="/Masterfiles/Stores" id="sidenav-Stores">Stores</a>
    </li>

    <li>
        <a href="/Masterfiles/Reports" id="sidenav-Reports">Reports</a>
    </li>

    <li>
        <hr />
    </li>

    <li>
        <p> My Store </p>
    </li>
    
    <partial name="./NavLayouts/_AssignedStoreNav" />

</ul>