@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    int[] storeIds = null;

    int? storeID = 0;
    if (Context.Session.GetInt32("_UsersStoreId") != null)
    {
        storeID = Context.Session.GetInt32("_UsersStoreId");
    }
}
<ul class="list-unstyled components">

    <li>
        <a href="/" id="sidenav-Home">Home</a>
    </li>

    <li>
        <a href="/Masterfiles/Stores" id="sidenav-Stores">Stores</a>
    </li>

    <li>
        <a href="/Masterfiles/Reports" id="sidenav-Reports">Reports</a>
    </li>

    <li>
        <a href="/Masterfiles/ItemSearch/Search">Item Search</a>
    </li>
    <li>
        <hr />
    </li>

    <li>
        <p> My Store </p>
    </li>

    @if (storeID != null)
    {

        <li class="dropdown-btn">
            <a href="#" id="sidenav-Items">
                MyStore
                <i class="float-right dropdown-toggle"></i>
            </a>
        </li>

        <li class="dropdown-container">
            <a href="/Stores/Main/@storeID">Go to MyStore</a>
            <a href="/Stores/Receiving/@storeID">Receiving</a>
            <a href="/Stores/Releasing/@storeID">Releasing</a>
            <a href="/Stores/PurchaseRequest/@storeID">Purchase Request</a>
            <a href="/Stores/Reports/@storeID">  Inventory Reports</a>
        </li>
    }

</ul>