@page
@model InvWeb.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Reports List";
}


<a asp-area="" asp-controller="Home" asp-action="Designer">Designer</a>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Reports
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.rptCategories)
        {
            <tr>
                <td>
                    @category.Description
                    <table class="table">
                        <tbody>
                            @foreach (var rptItem in Model.invReports)
                            {
                                var rptcats = rptItem.RptReportCats.ToList();
                                foreach(var i in rptcats)
                                {
                                    @if (i.RptCategoryId==category.Id)
                                    {
                                    <tr>
                                        <td>
                                        <a asp-area="" asp-controller="Home" asp-action="Viewer" asp-route-reportName=@rptItem.Name>@rptItem.Name</a>
                                        </td>
                                    </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>

                </td>
            </tr>

        }
    </tbody>
</table>

