@page
@model InvWeb.Pages.Masterfiles.Reports.IndexModel
@{
}

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> Item Report</h5>
                <h6 class="card-subtitle mb-2 text-muted">Generate Item Report</h6>
                <a href="#" class="card-link"> View Report</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> Branch Reports</h5>
                <h6 class="card-subtitle mb-2 text-muted">Generate Branch Report</h6>
                <a href="#" class="card-link"> View Report</a>
            </div>
        </div>
    </div>
</div>