
<h3>Sample Component : @Text</h3>
<p>Time: @System.DateTime.Now</p>
<p>Sample Init text: @textInit</p>
<button class="btn btn-primary" @onclick="OnClick">Click me</button>


@code {


    [Parameter]
    public string Text { get; set; }


    public string textInit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.textInit = "Sample Initialize";
        //if (sServices != null)
        //{
        //    SysService = sServices.getServices(0).ToList();
        //}
    }

    private void OnClick()
    {
        this.textInit = "clicked";
    }

}

