@page "{id:int?}/{type:int?}"
@model InvWeb.Pages.Stores.Printables.RequestFormModel
@{
    
    Layout = "_PrintLayout";
}

<div class="container" style="border:1px solid gray;">
    <partial Name="@this.Model.rptView" model="@this.Model._trxHdr" />
</div>

<hr />

<!-- Duplicate Copy -->

<div class="container" style="border:1px solid gray;">
    <partial Name="@this.Model.rptView" model="@this.Model._trxHdr" />
</div>