@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Receiving.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Receiving Transaction Header </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingCreateModel.InvTrxHdr.InvStoreId" class="control-label"></label>
                <select asp-for="ReceivingCreateModel.InvTrxHdr.InvStoreId" class="form-control" asp-items="Model.ReceivingCreateModel.InvStoresList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingCreateModel.InvTrxHdr.DtTrx" class="control-label"></label>
                <input asp-for="ReceivingCreateModel.InvTrxHdr.DtTrx" class="form-control datepicker" type="text" />
                <span asp-validation-for="ReceivingCreateModel.InvTrxHdr.DtTrx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingCreateModel.InvTrxHdr.Remarks" class="control-label"></label>
                <input asp-for="ReceivingCreateModel.InvTrxHdr.Remarks" class="form-control" maxlength="80" />
                <span asp-validation-for="ReceivingCreateModel.InvTrxHdr.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingCreateModel.InvTrxHdr.InvTrxTypeId" class="control-label"></label>
                <select asp-for="ReceivingCreateModel.InvTrxHdr.InvTrxTypeId" class="form-control" asp-items="Model.ReceivingCreateModel.InvTrxTypeId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingCreateModel.InvTrxHdr.InvTrxHdrStatusId" class="control-label"></label>
                <select asp-for="ReceivingCreateModel.InvTrxHdr.InvTrxHdrStatusId" class="form-control" asp-items="Model.ReceivingCreateModel.InvTrxHdrStatusList"></select>
            </div>
            <div class="form-group"hidden>
                <label asp-for="ReceivingCreateModel.InvTrxHdr.UserId" class="control-label"></label>
                <input asp-for="ReceivingCreateModel.InvTrxHdr.UserId" class="form-control" value="@Model.ReceivingCreateModel.User" />
                <span asp-validation-for="ReceivingCreateModel.InvTrxHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-storeId="@Model.ReceivingCreateModel.StoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
