@page
@model InvWeb.Pages.Stores.Receiving.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InvTrxHdr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReceivingEditModel.InvTrxHdr.Id" />
            <div class="form-group" hidden>
                <label asp-for="ReceivingEditModel.InvTrxHdr.InvStoreId" class="control-label"></label>
                <select asp-for="ReceivingEditModel.InvTrxHdr.InvStoreId" class="form-control" asp-items="Model.ReceivingEditModel.InvStoresList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingEditModel.InvTrxHdr.DtTrx" class="control-label"></label>
                <input asp-for="ReceivingEditModel.InvTrxHdr.DtTrx" class="form-control datepicker" type="text" />
                <span asp-validation-for="ReceivingEditModel.InvTrxHdr.DtTrx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingEditModel.InvTrxHdr.Remarks" class="control-label"></label>
                <input asp-for="ReceivingEditModel.InvTrxHdr.Remarks" class="form-control" maxlength="80" />
                <span asp-validation-for="ReceivingEditModel.InvTrxHdr.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingEditModel.InvTrxHdr.InvTrxTypeId" class="control-label"></label>
                <select asp-for="ReceivingEditModel.InvTrxHdr.InvTrxTypeId" class="form-control" asp-items="Model.ReceivingEditModel.InvTrxTypeId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingEditModel.InvTrxHdr.InvTrxHdrStatusId" class="control-label"></label>
                <select asp-for="ReceivingEditModel.InvTrxHdr.InvTrxHdrStatusId" class="form-control" asp-items="Model.ReceivingEditModel.InvTrxHdrStatusList"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceivingEditModel.InvTrxHdr.UserId" class="control-label"></label>
                <input asp-for="ReceivingEditModel.InvTrxHdr.UserId" class="form-control" value="@Model.ReceivingEditModel.User" />
                <span asp-validation-for="ReceivingEditModel.InvTrxHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-storeId="@Model.ReceivingEditModel.InvTrxHdr.InvStoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
