@page
@model InvWeb.Pages.Masterfiles.ItemSysDefinedSpec.EditModel

@{
    ViewData["Title"] = "Edit - SysDefinedSpec";
}

<h1>Edit</h1>

<h4>SysDefinedSpec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvItemSysDefinedSpecs.Id" />
            <div class="form-group">
                <label asp-for="InvItemSysDefinedSpecs.SpecName" class="control-label"></label>
                <input asp-for="InvItemSysDefinedSpecs.SpecName" class="form-control" maxlength="30">
                <span asp-validation-for="InvItemSysDefinedSpecs.SpecName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSysDefinedSpecs.SpecCode" class="control-label"></label>
                <input asp-for="InvItemSysDefinedSpecs.SpecCode" class="form-control" maxlength="10">
                <span asp-validation-for="InvItemSysDefinedSpecs.SpecCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvItemSysDefinedSpecs.SpecGroup" class="control-label"></label>
                <input asp-for="InvItemSysDefinedSpecs.SpecGroup" class="form-control" maxlength="10" />
                <span asp-validation-for="InvItemSysDefinedSpecs.SpecGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
