@page
@model InvWeb.Pages.Masterfiles.ItemCategories.CustomSpec.AddModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>InvCatCustomSpec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvCatCustomSpec.InvCategoryId" class="control-label"></label>
                <select asp-for="InvCatCustomSpec.InvCategoryId" class ="form-control" asp-items="ViewBag.InvCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvCatCustomSpec.InvItemCustomSpecTypeId" class="control-label"></label>
                <select asp-for="InvCatCustomSpec.InvItemCustomSpecTypeId" class ="form-control" asp-items="ViewBag.InvItemCustomSpecTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvCatCustomSpec.Order" class="control-label"></label>
                <input asp-for="InvCatCustomSpec.Order" class="form-control" />
                <span asp-validation-for="InvCatCustomSpec.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvCatCustomSpec.Remarks" class="control-label"></label>
                <input asp-for="InvCatCustomSpec.Remarks" class="form-control" />
                <span asp-validation-for="InvCatCustomSpec.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
