@page
@model InvWeb.Pages.Masterfiles.ItemSettingModel
@{
}

<h4> System Settings </h4>
<div class="list-group">

    <a asp-page="./ItemCategories/Index" class="list-group-item list-group-item-action">
        Item Categories
    </a>
</div>


