@page
@model Inventory.Basic.UI.Areas.MyFeature.Pages.Index1Model
@{
}

<div class="text-center">
    <h1 class="display-4">Index from RCL</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <partial name="~/Areas/MyFeature/Pages/Page1.cshtml" model=@Model.pagemodel1  />
</div>

