@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="row">
    <span> Links:  </span> 
    <a asp-page="./AddItem" > Add Item </a>
</div>

<div class="text-center">
    <p>Sample Page with Component</p>
    
    <partial Name="@this.Model.rptView" model="@this.Model.hdr" />
    
</div>
