@page
@model InvWeb.Pages.Masterfiles.ItemMaster.Classifications.AddModel

@{
    ViewData["Title"] = "Add Classification";
    IEnumerable<WebDBSchema.Models.InvClassification> classifications = ViewData["InvClassificationsList"] as IEnumerable<WebDBSchema.Models.InvClassification>;
    int invItemId = (int)ViewData["ItemId"];
}

<h1>Add Classification</h1>

<h4> @ViewData["Item"] </h4>
<div>
    <a asp-page="../Index">Back to List</a>
</div>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvItemClass.InvItemId" class="control-label"></label>
                <select asp-for="InvItemClass.InvItemId" class ="form-control" asp-items="ViewBag.InvItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvItemClass.InvClassificationId" class="control-label"></label>
                <select asp-for="InvItemClass.InvClassificationId" class ="form-control" asp-items="ViewBag.InvClassificationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div class="col-md-4">
   <div class="list-group" method="get">
        @foreach (var item in classifications)
        {
            <button type="button" class="list-group-item list-group-item-action" onclick="SelectClassfication(@invItemId, @item.Id)"> @item.Classification </button>
        }
   </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function SelectClassfication(invItemId, invClassId){
            $.post("/api/Items/PostAddItemClassification?id=" + invItemId + "&classId="+invClassId,
                { id : invItemId, classId : invClassId}, 
                (result)=>{
                    console.log(result);
                    if (result == "success") {
                        window.location = '/Masterfiles/ItemMaster';
                    }
                });
        }
    </script>
}
