@page
@model InvWeb.Pages.Stores.Releasing.ItemDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InvTrxDtl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvTrxDtl.Id" />
            <div class="form-group">
                <label asp-for="InvTrxDtl.InvTrxHdrId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvTrxHdrId" class="form-control" asp-items="ViewBag.InvTrxHdrId"></select>
                <span asp-validation-for="InvTrxDtl.InvTrxHdrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.InvUomId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
                <span asp-validation-for="InvTrxDtl.InvUomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.ItemQty" class="control-label"></label>
                <input asp-for="InvTrxDtl.ItemQty" class="form-control" />
                <span asp-validation-for="InvTrxDtl.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.InvItemId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvItemId" class="form-control" asp-items="ViewBag.InvItemId"></select>
                <span asp-validation-for="InvTrxDtl.InvItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-id="@Model.InvTrxDtl.InvTrxHdrId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
