@page
@model InvWeb.Pages.Stores.Releasing.ItemDetails.EditModel

@{
    ViewData["Title"] = "Edit";
    var LotNotItems = ViewData["LotNoItems"] as List<WebDBSchema.Models.Items.ItemLotNoSelect>;
}

<h1>Edit</h1>

<h4>Releasing Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvTrxDtl.Id" />
            <div class="form-group" hidden>
                <label asp-for="InvTrxDtl.InvTrxHdrId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvTrxHdrId" class="form-control" asp-items="ViewBag.InvTrxHdrId"></select>
                <span asp-validation-for="InvTrxDtl.InvTrxHdrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.InvItemId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvItemId" class="form-control" asp-items="ViewBag.InvItemId" id="InvItemId"></select>
                <span asp-validation-for="InvTrxDtl.InvItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.LotNo" class="control-label"></label>
                <div class="col-lg-12">
                    <div class="row">
                        <select asp-for="InvTrxDtl.LotNo" class="form-control col-sm-8" asp-items="ViewBag.LotNo" id="LotNo"></select>
                        <span class="btn btn-primary col-sm-4" data-toggle="modal" data-target="#SearchLotNoModal"> Search </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.ItemQty" class="control-label"></label>
                <input asp-for="InvTrxDtl.ItemQty" class="form-control" />
                <span asp-validation-for="InvTrxDtl.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxDtl.InvUomId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvUomId" class="form-control" asp-items="ViewBag.InvUomId"></select>
                <span asp-validation-for="InvTrxDtl.InvUomId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxDtl.InvTrxDtlOperatorId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvTrxDtlOperatorId" class="form-control" asp-items="ViewBag.InvTrxDtlOperatorId"></select>
                <span asp-validation-for="InvTrxDtl.InvTrxDtlOperatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (LotNotItems.Count() != 0)
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@Model.InvTrxDtl.InvTrxHdrId">Back to List</a>
</div>

<div hidden>
    <input value="@ViewBag.StoreId" id="StoreId" />
</div>

@{ await Html.RenderPartialAsync("_SearchLotNoModal"); }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $('#InvItemId').on('change', () => {

            //get selected item id
            var itemId = $('#InvItemId').val();

            //get url
            var currentUrl = document.location.href;
            var url = new URL(currentUrl);

            //update url param
            url.searchParams.set("invItemId", itemId);
            var newUrl = url.href;

            //reload page
            document.location = newUrl;
        });

        function SelectLotNo(id) {
            $('#LotNo').val(id);

            $("#SearchLotNoModal").modal("hide");
        }

    </script>
}
