@page "{hdrId:int?}"
@model InvWeb.Pages.Stores.Receiving.ItemDetails.CreateModel

@{
    ViewData["Title"] = "Transaction Create";
}

<h1>Create</h1>

<h4>Transaction Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxDtl.InvTrxHdrId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvTrxHdrId" class="form-control" asp-items="ViewBag.InvTrxHdrId"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Item </label>
                <select asp-for="InvTrxDtl.InvItemId" class="form-control search-dropdown-initialize select2" asp-items="ViewBag.InvItemId" id='itemDropdown' ></select>
            </div>
            <div class="form-group">
                <label class="control-label"> HeatNo </label>
                <input asp-for="InvTrxDtl.BatchNo" class="form-control" maxlength="20" />
                <span asp-validation-for="InvTrxDtl.BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Qty </label>
                <input asp-for="InvTrxDtl.ItemQty" class="form-control" value="1" />
                <span asp-validation-for="InvTrxDtl.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Uom </label>
                <select asp-for="InvTrxDtl.InvUomId" class="form-control" asp-items="ViewBag.InvUomId" id="UomDropdown"  ></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxDtl.InvTrxDtlOperatorId" class="control-label"></label>
                <select asp-for="InvTrxDtl.InvTrxDtlOperatorId" class="form-control" asp-items="ViewBag.InvTrxDtlOperatorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@ViewBag.HdrId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Store/ItemUomDropdown.js"></script>
}
