@page "{storeId:int?}"
@model InvWeb.Pages.Stores.Releasing.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Releasing Header</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxHdr.InvStoreId" class="control-label"></label>
                <select asp-for="InvTrxHdr.InvStoreId" class="form-control" asp-items="ViewBag.InvStoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxHdr.DtTrx" class="control-label"></label>
                <input asp-for="InvTrxHdr.DtTrx" class="form-control datepicker" type="text" />
                <span asp-validation-for="InvTrxHdr.DtTrx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvTrxHdr.Remarks" class="control-label"></label>
                <input asp-for="InvTrxHdr.Remarks" class="form-control" />
                <span asp-validation-for="InvTrxHdr.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxHdr.InvTrxTypeId" class="control-label"></label>
                <select asp-for="InvTrxHdr.InvTrxTypeId" class="form-control" asp-items="ViewBag.InvTrxTypeId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxHdr.InvTrxHdrStatusId" class="control-label"></label>
                <select asp-for="InvTrxHdr.InvTrxHdrStatusId" class="form-control" asp-items="ViewBag.InvTrxHdrStatusId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="InvTrxHdr.UserId" class="control-label"></label>
                <input asp-for="InvTrxHdr.UserId" class="form-control" value="@ViewBag.UserId" />
                <span asp-validation-for="InvTrxHdr.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-storeId="@ViewBag.StoreId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
