@page
@model InvWeb.Pages.Masterfiles.InvItemMasters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InvItemMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Item</label>
                <select asp-for="InvItemMaster.InvItemId" class="form-control search-dropdown-initialize select2" asp-items="ViewBag.InvItems" id='itemDropdown'></select>
            </div>
            <div class="form-group">
                <label class="control-label"> LotNo </label>
                <input asp-for="InvItemMaster.LotNo" class="form-control" maxlength="20" />
                <span asp-validation-for="InvItemMaster.LotNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> HeatNo </label>
                <input asp-for="InvItemMaster.BatchNo" class="form-control" maxlength="20" />
                <span asp-validation-for="InvItemMaster.BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Qty</label>
                <input asp-for="InvItemMaster.ItemQty" class="form-control" value="0" />
                <span asp-validation-for="InvItemMaster.ItemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Uom</label>
                <select asp-for="InvItemMaster.InvUomId" class="form-control" asp-items="ViewBag.InvUoms" id="UomDropdown"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Brand</label>
                <select asp-for="InvItemMaster.InvItemBrandId" class="form-control" asp-items="ViewBag.InvItemBrands"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Origin</label>
                <select asp-for="InvItemMaster.InvItemOriginId" class="form-control" asp-items="ViewBag.InvItemOrigins"></select>
            </div>

            <div class="form-group">
                <label asp-for="InvItemMaster.Remarks" class="control-label"></label>
                <input asp-for="InvItemMaster.Remarks" class="form-control" />
                <span asp-validation-for="InvItemMaster.Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
